# Virtual environment
env/
venv/

# Byte-compiled / optimized / DLL files
*.py[cod]
*__pycache__/

# Django specific files
db.sqlite3
/media/

# PyCharm
.idea/

# VSCode
.vscode/

# MacOS system files
.DS_Store

.env
